root = true

[*]
indent_style = tab
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[{.eslintrc,*.{py,json,js,jsx,html,xml,css,scm,el,java,md,yml,yaml,rs}}]
indent_style = space

[{.eslintrc,*.{json,js,jsx,html,xml,css,scm,el,java,yml,yaml}}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false
